<template>
  <div class="lg:px-10 md:px-10 sm:px-10 xs:px-2">
    <div class="text-2xl text-center text-gray-800 px-8 py-4">Drei einfache Schritte zur Vermittlung neuer Mitarbeiter</div>
    <div class="relative my-16">
      <div class="w-full flex justify-center pb-24">
        <img src="~assets/img/temporary_offices/undraw_Profile_data_re_v81r@2x.png" alt="worker" />
      </div>
      <div class="flex absolute bottom-0 w-full">
        <div class="text-10xl text-gray-600 font-semibold leading-none">1.</div>
        <div class="relative w-full">
          <div class="text-xl text-gray-600 absolute bottom-0 p-1">Erstellen dein Unternehmensprofil</div>
        </div>
      </div>
    </div>
    <div class="relative my-16">
      <div class="w-full flex justify-center pt-32">
        <img src="~assets/img/temporary_offices/undraw_job_offers_kw5d@2x.png" alt="worker" />
      </div>
      <div class="flex absolute top-0 w-full xs:pl-4">
        <div class="text-10xl text-gray-600 font-semibold leading-none">2.</div>
        <div class="relative w-full">
          <div class="text-xl text-gray-600 absolute bottom-0 p-1">Erhalte Vermittlungs- angebot von Arbeitgeber</div>
        </div>
      </div>
    </div>
    <div class="relative my-16">
      <div class="w-full flex justify-center pt-32">
        <img src="~assets/img/temporary_offices/undraw_business_deal_cpi9@2x.png" alt="worker" />
      </div>
      <div class="flex absolute top-0 w-full xs:pl-8">
        <div class="text-10xl text-gray-600 font-semibold leading-none">3.</div>
        <div class="relative w-full">
          <div class="text-xl text-gray-600 absolute bottom-0 p-1">Vermittlung nach Provision oder Stundenlohn</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'TemporaryOfficers',
  components: {
  }
}
</script>
