<template>
  <nav class="fixed w-full z-30 top-0">
    <div class="h-1 w-full bg-gradient-to-r from-green-500 to-blue-500"></div>
    <div class="bg-white h-20 lg:px-18 xs:px-4 rela shadow-lg rounded-b-lg">
      <div class="w-full mx-auto mt-0 py-6">
        <div class="float-right text-green-800 cursor-pointer">
          Login
        </div>
      </div>
    </div>
  </nav>
</template>

<script>

export default {
  name: 'TheHeader',
  components: {
  },
  data() {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  mounted() {
  },
  beforeDestroy() {
  }
}
</script>
