<template>
  <div class="lg:px-10 md:px-10 sm:px-10 xs:px-2">
    <div class="text-2xl text-center text-gray-800 px-8 py-4">Drei einfache Schritte zu deinem neuen Job</div>
    <div class="relative my-16">
      <div class="w-full flex justify-center pb-24">
        <img src="~assets/img/workers/undraw_Profile_data_re_v81r@2x.png" alt="worker" />
      </div>
      <div class="flex absolute bottom-0 w-full">
        <div class="text-10xl text-gray-600 font-semibold leading-none">1.</div>
        <div class="relative w-full">
          <div class="text-xl text-gray-600 absolute bottom-0 p-1">Erstellen dein Lebenslauf</div>
        </div>
      </div>
    </div>
    <div class="relative my-16">
      <div class="w-full flex justify-center pt-32">
        <img src="~assets/img/workers/undraw_task_31wc@2x.png" alt="worker" />
      </div>
      <div class="flex absolute top-0 w-full xs:pl-4">
        <div class="text-10xl text-gray-600 font-semibold leading-none">2.</div>
        <div class="relative w-full">
          <div class="text-xl text-gray-600 absolute bottom-0 p-1">Erstellen dein Lebenslauf</div>
        </div>
      </div>
    </div>
    <div class="relative my-16">
      <div class="w-full flex justify-center pt-32">
        <img src="~assets/img/workers/undraw_personal_file_222m@2x.png" alt="worker" />
      </div>
      <div class="flex absolute top-0 w-full xs:pl-8">
        <div class="text-10xl text-gray-600 font-semibold leading-none">3.</div>
        <div class="relative w-full">
          <div class="text-xl text-gray-600 absolute bottom-0 p-1">Mit nur einem Klick bewerben</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Workers',
  components: {
  }
}
</script>
