<template>
  <div>
    <div class="bg-blue-100">
      <div class="pt-24 lg:px-20 md:px-12 sm:px-0">
        <div class="text-4xl text-center text-gray-800 font-medium">Deine Job website</div>
        <div class="w-full flex justify-center">
          <img src="~assets/img/workers/undraw_agreement_aajr@2x.png" alt="main" />
        </div>
      </div>
      <div class="bg-white h-32 rela shadow-gray-500/40 flex justify-center rounded-t-lg px-4 pt-8 border-solid border-b border-gray-100">
        <div class="lg:w-56 md:w-56 sm:w-full xs:w-full">
          <button class="bg-gradient-to-r from-green-500 to-blue-500 text-white py-2 w-full rounded-lg">Kostenlos Registrieren</button>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="py-6 px-4 flex overflow-x-scroll">
        <div :class="`${tab==='workers'?'bg-blue-300 text-white':'text-blue-500'} cursor-pointer py-2 px-6 border-solid border border-blue-300 rounded-l-lg`" @click="changeTab('workers')">Arbeitnehmer</div>
        <div :class="`${tab==='employers'?'bg-blue-300 text-white':'text-blue-500'} cursor-pointer py-2 px-6 border-solid border border-blue-300`" @click="changeTab('employers')">Arbeitgeber</div>
        <div :class="`${tab==='temporary-officers'?'bg-blue-300 text-white':'text-blue-500'} cursor-pointer py-2 px-6 border-solid border border-blue-300 rounded-r-lg`" @click="changeTab('temporary-officers')">Temporärbüro</div>
      </div>
      <workers v-if="tab==='workers'" />
      <employers v-if="tab==='employers'" />
      <temporary-officers v-if="tab==='temporary-officers'" />
    </div>
  </div>
</template>

<script>
import Workders from '@/components/Workers'
import Employers from '@/components/Employers'
import TemporaryOfficers from '@/components/TemporaryOfficers'
export default {
  name: 'Home',
  components: {
    "workers": Workders,
    "employers": Employers,
    "temporary-officers": TemporaryOfficers
  },
  data() {
    return {
      tab: 'workers'
    }
  },
  mounted() {
  },
  computed: {
  },
  methods: {
    changeTab(v){
      this.tab = v
    }
  },
  mounted() {
  },
  beforeDestroy() {
  }
}
</script>
<style>
</style>
